<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="mailto:{{email}}" target="_blank">{{email}}</a> 様
<p>いつもOOnaviサイトをご利用いただきまして誠にありがとうございます。</p>
<p>お問い合わせいただきましたパスワードの再設定につきまして次の通りご案内いたします。</p>
<h5>●パスワード再設定方法：</h5>
<p>下記コードをコピーし、新たにパスワードをご設定ください。</p>
<p>コード: <span style="border-style: solid;border-width: 1px;border-color: rgba(0,0,0,0.32); padding: 2px;">{{code}}</span></p>
<p>なお、パスワードを再設定後、ログインをしていただいた際、【アクセスキーが有効でありません】と表示される可能性がございます。</p>
<h5>●ご注意：</h5>
<p>このコードは、受信後、2時間以内、1回限りアクセスが有効です。</p>
<p>アクセスキーが無効になった場合は、お手数ですが再度、パスワード再設定のお手続きをお願いいたします。</p>
<p>ご不明な点がございましたら、OOnaviサイトお客様窓口まで、お問い合わせください。</p>
<p>今後とも、OOnaviサイトをご愛顧くださいますよう宜しくお願い申し上げます。</p>

<h5>※本メールは送信専用です。このままご返信いただいてもお答えできませんのでご了承ください。</h5>
<h5>※本メールは、OOnaviサイトの会員登録時にお客様にご入力いただいたメールアドレス宛へ送信しております。</h5>
<p>万が一、メールの内容にお心当たりがない場合は、弊社お客様窓口までご連絡をお願いいたします。</p>

<p>---------------------------------------------------------</p>

<a href="http://oonavi.org/inquiry" target="_blank">OOnaviサイトお問い合わせへ</a>

<p>---------------------------------------------------------</p>
</body>
</html>