<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>{{name}} 様</p>
<p>いつもOOnaviサイトをご利用いただきまして誠にありがとうございます。</p>
<p>下記コードをコピーし、新たにパスワードをご設定ください。</p>
<p>頂きましたお問い合わせを弊社お問合せ番号: <span style="border-style: solid;border-width: 1px;border-color: rgba(0,0,0,0.32); padding: 2px;">{{code}}</span></p>
<p>本件、確認を致しましてご連絡差し上げますので、</p>
<p>ご回答まで今しばらくお時間を頂けますようお願い申し上げます。</p>


<p>なお、このメールは送信専用のメールアドレスからお送りしております。このメールに返信を行ってもご対応致しかねますのでご了承ください。</p>
<p>万が一、メールの内容にお心当たりがない場合は、 下記のお問い合せ窓口までご連絡をお願いいたします。</p>

<p>---------------------------------------------------------</p>

<a href="http://oonavi.org/inquiry" target="_blank">OOnaviサイトお問い合わせへ</a>

<p>---------------------------------------------------------</p>
</body>
</html>